.defaultHero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    padding: 15rem 0;
    /* background: url("../../images/bg-masthead.jpg"); */
    background: var(--darkGrey);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }