.cart-item {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.cart-details {
    display: flex;
}

.cart-info {
    display: flex;
    flex-direction: column;
    height: 4.5rem;
    width: 100%;
    margin-bottom: .5rem;
}

.item-name {
    align-self: center;
    justify-self: flex-start;
}

.item-price {
    align-self: flex-end;
}

.item-img {
    height: 4.5rem;
    width: 4.5rem;
    min-height: 4.5rem;
    min-width: 4.5rem;
}

.cart-item .line {
    width: 21rem;
    height: 1px;
    margin: 0 auto;
    background: var(--primaryColor);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  