.item-page {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: minmax(200px, auto);
}

.item-img-area {
    padding: 2rem;
}

.item-grid img {
    max-height: 560px;
    max-width: 560px;
}

.item-text-area {
    /* border: 2px solid gold; */
    height: 800px;
    padding: 4rem 2rem;
}

.item-text-area p {
    font-size: 17px;
    color: #565656
}

.item-page h4 {
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.item-page .line {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    margin-top: 1rem;
    background: var(--primaryColor);
    margin-bottom: 4rem;
  }

.item-page h5 {
    color: var(--primaryColor);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}